/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk Selector overrides default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: black;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    font-family: 'Arvo', sans-serif;
    color: white;
    box-shadow: 0 2px 2px whitesmoke;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}


h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu {
    font-size: 100%;
    list-style-type: none;
    font-family: 'Roboto';
}

#menu>li {
    margin-bottom: 1rem;
}

nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    box-shadow: 0 2px 2px whitesmoke;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    background-color: black;
    color: white;
    /* Makes body take up all spaceto push the footer down */
    flex: 1 0 auto;
    margin-top: 76px;

}

#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

#socials i {
    font-size: 200%;
}
/* Footer */
footer {
    background-color: black;
}

/*Media Queries, tablets and larger - 768px and up */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        box-shadow: none;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #menu a:hover {
        text-decoration: underline;
    }
}