/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk Selector overrides default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: lightblue;
    /* Replace Header font later */
    font-family: 'Roboto', sans-serif; 
}

/* Main Content */
main {
    background-color: lightgreen;
    /* Makes body take up all spaceto push the footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: lightpink;
}

