/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk Selector overrides default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    background-color: black;
    padding: 0 2rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    font-family: 'Arvo', sans-serif;
    font-size: 75%;
    color: white;
    box-shadow: 0 2px 2px whitesmoke;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

header a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}


h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#menu {
    font-size: 100%;
    list-style-type: none;
    font-family: 'Roboto';
}

#menu>li {
    margin-bottom: 1rem;
}


/*Nav Bar*/
nav {
    position: absolute;
    background-color: black;
    max-width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;

}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    background-color: black;
    color: white;
    flex: 1 0 auto;
    margin-top: 76px;
}

/* Hero Image and Logo */
#hero {
    height: 400px;
    max-width: 100%;
    background: url("../images/index-images/hero_image.jpg") no-repeat center center/cover;
}

#logo {
    display: flex;
    justify-content: center;
    padding-top: 70px;

}

#tagline {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-decoration: underline;
}

/* Info Section */
#info {
    width: 90%;
    margin: 10px auto;
}

#info h3 {
    font-size: 140%;
    padding-bottom: 5px;
}

#info p {
    padding-top: 10px;
    padding-bottom: 20px;
}


#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info img {
    max-width: 100%;
    max-height: 100vh;
    padding-bottom: 50px;
    margin: auto;
}




/* Brewery tour section */
#tour {
    font-size: 140%;
    padding-bottom: 5%;
}

#tours h2 {
    font-size: 200%;
    text-decoration: underline;
    padding: 20px 30px 20px;
}

#tours p {
    padding: 20px 30px 20px;
}

.tour-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    padding-bottom: 20px;
}

.tour-item {
    flex: 1;
    padding: 20px;
    border: none;
    text-align: center;
    background-color: rgb(109, 85, 8);
    border-radius: 20px;
    max-width: 250px;
    max-height: 100px;
    word-wrap: normal;
    margin: 10px;
}

#tour-link {
    text-decoration: underline;
    color: inherit;
    text-decoration: inherit;
}


/* Map Section */
#map {
    height: 100%;
    width: 100%;
    border: none;
}


#map-wrap {
    height: 300px;
    max-width: 100%;
    margin-bottom: 55px;
    padding: 30px;
}

#map-wrap h2 {
    font-size: 200%;
    text-decoration: underline;
    padding: 20px 30px 20px;
}




/* Socials */
#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

#socials i {
    font-size: 200%;
}

/* Footer */
footer {
    background-color: black;
}


/* Gallery Section */
.gallery {
    margin: 5%;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.gallery li {
    height: 40vh;
    flex-grow: 1;
}

.gallery li:last-child {
    flex-grow: 10;
}

.gallery img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}


/* Form Section */
#form {
    display: flex;
    margin: 10%;
    max-height: 100%;
    max-width: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form h2 {
    padding-bottom: 2rem;
}

#form_entry {
    display: table;
}

#form_entry p {
    display: table-row;
}

#form_entry label {
    display: table-cell;
    padding-bottom: 10px;
    
}

#form_entry input {
    display: table-cell;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    border-color: grey;
    height: 50px;
    width: 100px;
    font-family: "Roboto";
    font-size: 110%;
}






/*Media Queries, tablets and larger - 768px and up */
@media screen and (min-width: 768px) {

    #header {
        max-width: 100%;
        position: relative;
        padding: 0 0 0 0;

    }

    a:hover {
        text-decoration: underline;
    }

    nav {
        display: block;
        position: relative;
        max-width: 100%;
        box-shadow: none;
    }

    #menu {
        display: flex;
        left: 0;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #hero {
        height: 400px;
        max-width: 100%;

        background: url("../images/index-images/hero_image.jpg") no-repeat center center/cover;
    }

    #logo {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    /* INFO section */


    #info img {
        max-width: 100%;
        max-height: 100vh;
        padding-bottom: 50px;
    }


    /* Tour Section */
    .tour-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #tours p {
        font-size: 120%;
    }

    .tour-item {
        max-width: 200px;
        max-height: 300px;
        word-wrap: normal;
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
    }
}



/*Media Queries, tablets and larger - 992px and up */
@media screen and (min-width: 992px) {

    #about_us_container img,
    #history_container img {
        min-width: 500px;
        max-height: 100vh;
        padding-bottom: 50px;
        vertical-align: middle;
        margin: 10%;
    }

    #processes_container img,
    #sustainability_container img {
        min-width: 500px;
        max-height: 100vh;
        padding-bottom: 50px;
        padding-right: 50px;
        margin: 10% 10% 10% 0;
    }

    #about_us_container,
    #history_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #processes_container,
    #sustainability_container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    #processes_container h3,
    #sustainability_container h3 {
        text-align: end;
    }
}

/*Media Queries, tablets and larger - 1440px and up */
@media screen and (min-width: 1440px) {
    #info p {
        font-size: 150%;
    }

    .tour-item {
        max-width: 400px;
        max-height: 200px;
    }

    #tours {
        padding-left: 30px;
    }

    #tours p {
        font-size: 130%;
    }
}


/*Media Queries, tablets and larger - 2560px and up */
@media screen and (min-width: 2560px) {
    #info p {
        font-size: 200%;
    }

    #tours {
        padding-left: 60px;
    }

    #tours p {
        font-size: 170%;
    }
}